@use './variables' as *;
@use './mixins' as *;
@use './reset';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background: $bg;
  color: $text;
}
